/endpoints/add: Valid FQDN Validation Problem

Dojo endpoint /endpoints/add does not validate the FQDN below:
abc-0_200.pe1.abcd.nsw.domain.net.au

This however is a valid domain name.

I've changed the regex in dojo/forms.py on line 905:
r'^(?:(?:[A-Z0-9](?:[A-Z0-9-]{0,61}[A-Z0-9])?\.)+(?:[A-Z]{2,6}\.?|[A-Z0-9-]{2,}(?<!-)\.?)|'

Adding the underscore:
r'^(?:(?:[A-Z0-9](?:[A-Z0-9-_]{0,61}[A-Z0-9])?\.)+(?:[A-Z]{2,6}\.?|[A-Z0-9-]{2,}(?<!-)\.?)|'

It works on my end and I think it's OK but I am no regex wiz, I can't verify that this hasn't broken anything.

I added the host string to determine which host was not being accepted:
raise forms.ValidationError('Please check items entered, one or more do not appear to be a valid URL or IP address: ' + host, code='invalid')

A list of all offending hosts (instead of the single) would be good to aid the user.

@a1ec Thanks for finding the reference. I'm looking at extending the django url validator here and the point about a list is good as well.

https://docs.djangoproject.com/en/1.10/ref/validators/#urlvalidator



Hi @a1ec @aaronweaver I've been looking into this extensively from another outstanding issue.
A DNS record is allowed to have underscores per [RFC 2181](http://www.ietf.org/rfc/rfc2181.txt). However, in hostnames (which I just learned are actually a specific type of DNS) underscores are not permitted per [RFC 952](https://tools.ietf.org/html/rfc952) which is amended but still enforced by (RFC 1123)[https://tools.ietf.org/html/rfc1123#page-13]. I think we should add the underscore to our regex for robustness.

@a1ec would you like to create the PR so you can get contributor? :)

Hi Greg, would love to but not sure how to get my local dev branch commits
up to you for merging...
Also have a couple of other additions once I know to how to contribute :)


@aaronweaver @devGregA  To elaborate, I have some knowledge of git and setting up local repos but with the instructions on the github website it's not clear how my branch would appear in the upstream repo so that it could be merged with devel / master. If you could provide some pointers I would be grateful and could skip opening some issues and directly submit more patches. Looking forward to hearing from you.

Hi @a1ec I'm happy to help / walk you through it. Can we setup a google hangout for early next week?